@font-face {
    font-family: 'Point';
    src: url(../font/EE3DYKUPHF3W5SWXFO53CRP5KMNTTNTH.woff2) format("woff2");
}
@font-face {
    font-family: 'Rebond';
    src: url(../font/IGigBoMG75G04AEGyWGtbtIhliM.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: 'Rebond';
    src: url(../font/J7eQi2k0G4QLAJS7Fq0TXfgNLkw.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../font/Aeonik-Regular-c672e6fbaa411f5719f3c63dc9a47999.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../font/Aeonik-Medium-a584ebd29a0626ccf36df98f5c031dcf.woff2) format("woff2");
    font-weight: 500;
}

//한글
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');