@font-face {
    font-family: 'Point';
    src: url(../font/EE3DYKUPHF3W5SWXFO53CRP5KMNTTNTH.woff2) format("woff2");
}
@font-face {
    font-family: 'Rebond';
    src: url(../font/IGigBoMG75G04AEGyWGtbtIhliM.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: 'Rebond';
    src: url(../font/J7eQi2k0G4QLAJS7Fq0TXfgNLkw.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../font/Aeonik-Regular-c672e6fbaa411f5719f3c63dc9a47999.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../font/Aeonik-Medium-a584ebd29a0626ccf36df98f5c031dcf.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: 'Huben';
    src: url(../font/6538fb7e6400c00eb7ecf5f1_Huben-Regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'de';
    src: url(../font/45c7e5f62fcd5e3e-s.p.woff2) format("woff2");
}
@font-face {
    font-family: 'des';
    src: url(../font/6450cfaf2cf7286c67f506d7_PPMori-SemiBold.woff) format("woff");
}
@font-face {
    font-family: 'dew';
    src: url(../font/9431a58d2dabef30-s.p.woff2) format("woff2");
}

//한글
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Thin.otf) format('opentype');
    font-weight: 100;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-ExtraLight.otf) format('opentype');
    font-weight: 200;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Light.otf) format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Regular.otf) format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Medium.otf) format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Bold.otf) format('opentype');
    font-weight: 600;
}
