 .container {
    margin-top: 92.8px;
    @include mobile {
        margin-top: 60.8px;
    }
 }
 .sc-hero {
    display: flex;
    min-height: calc(100vh - 92.8px);
    overflow: hidden;
    @include mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 60.8px);

    }
    .hero-content {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 32px 15px;
        
        @include mobile {
            max-height: 60vh;
            max-width: 100%;
            padding: 16px 16px 32px;
            height: 100%;
            justify-content: space-between;
        }
    }
    .hero-ticker {
        display: flex;
        align-items: center;
        position: relative;
        margin: auto 0;
        left: -60px;
        font-size: 205px;
        line-height: 215px;
        mix-blend-mode: difference;
        z-index: 99;
         ul {
            display: flex;
            li {
                white-space: nowrap;
                margin-right: 64px;
         }
        }
        @include mobile {
            font-size: 40px;
            line-height: 43px;
            margin: 0 0;
            ul {
                li {
                    margin-right: 20px;
                }
            }
        }
    }
    .hero-title {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: $font-sub;
        font-weight: 500;
        font-size: 24px;
        max-width: 100%;
        line-height: 32px;
        @include mobile {
            margin-top: 32px;
            font-size: 19px;
            line-height: 24px;
        }
        .row1 {
            display: flex;
            align-items: center;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1.6px;
                background: var(--orange);
                flex: 1;
                margin-left: 1rem;
            }
        }
        .row2 {
            text-align: justify;
            line-height: 32px;
            font-weight: 400;
            .deco {
                display: inline-flex;
                align-items: center;
                line-height: 1.2;
                border: 1px solid var(--orange);
                color: var(--gray);
                border-radius: 36px;
                padding: 3px 12px;
            }
            @include mobile {
                line-height: 1.6rem;
                font-size: 14px;
                .deco {
                    padding: 2px 8px;
                }
            }
        }
    }
    .hero-media {
        flex: 0 0 50%;
        max-width: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mobile {
            position: relative;
            flex: 1;
            max-width: 100%;
            width: 100%;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

 }

 .sc-work {
    padding-top: 160px;
    padding-bottom: 160px;
    @include mobile {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .text-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding-left: 32px;
        padding-right: 32px;
        min-height: 70vh;
        .col-left{
            width: calc(50% - 0.5rem);
            .title {
                font-size: 8rem;
                overflow: hidden;
            }
            @include mobile {
                width: 100%;
                .title {
                    font-size: 5rem;
                }
            }
        }
        .col-right {
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 8px;
            .state {
                overflow: hidden;
                .num {
                    font-size: 5rem;
                    line-height: 5rem;
                    padding-right: 5px;
                }
                .text {
                    display: block;
                    font-size: 1.6rem;
                }
            }
            .desc {
                overflow: hidden;
                .text {
                    display: block;
                    line-height: 1;
                    font-family: $font-ko;
                    font-weight: 500;
                    font-size: 14px;
                    text-wrap: nowrap;
                }
            }
            @include mobile {
                gap: 5px;
                .state {
                    .num {
                        font-size: 3rem;
                        line-height: 3rem;
                        padding-right: 3px;
                    }
                    .text {
                        font-size: 1.2rem;
                    }
                }
                .desc {
                    display: none;
                }
            }
        }
        @include mobile {
            flex-direction: column;
            padding-left: 16px;
            padding-right: 16px;
            min-height: 50vh;
        }
    }
    .object {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25vw;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: rotate_image 6s linear infinite;
        }
        @keyframes rotate_image{
            100% {
                transform: rotate(360deg);
            }
        }
    }
    
    .project-container {
        padding-left: 32px;
        min-height: 400vh;
        position: relative;
        @include tablet {
            height: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 80px;
        }
        @include mobile {
            margin-top: 16px;
        }
    }
    .inner {
        cursor: none;
        position: sticky;
        top: 0;
        min-height: 100vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        @include tablet {
            width: 100%;
            height: 100%;
            display: block;
            cursor: auto;
        }
        .hover-cursor {
            opacity: 0;
            z-index: 1;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 80px;
            height: 80px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: var(--orange);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            font-size: 14px;
            &.on {
                display: none;
            }
        }
    .project-list {
        display: flex;
        gap: 38px;
        flex-wrap: nowrap;
        flex-shrink: 0;
        @include tablet {
            flex-direction: column;
            flex-shrink: unset;
            gap: 64px;
        }
        @include mobile {
            gap: 64px;
        }
    }
    .project-item {
        flex: 0 0 75vh;
        max-width: 570px;
        position: relative;
        @include tablet{
            max-width: 100%;
            width: 100%;
            flex: none;
        }
        .active-box {
            display: flex;
            flex-direction: column;
            cursor: none;
            @include tablet {
                cursor: pointer;
            }
        }
        }
        .thumb {
            position: relative;
            aspect-ratio: 465/433;
            object-fit: cover;
            transition: scale .4s ease-in-out;
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @include tablet {
                aspect-ratio: 16/9;
            }
            @include mobile {
                aspect-ratio: 465/433;
            }
        }
        .category {
            position: absolute;
            bottom: 16px;
            left: 16px;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            li {
                background: var(--gray);
                border-radius: 20px;
                padding: 3px 10px;
                font-size: 12px;
                color: #000;
            }
            .highlighted {
                background: var(--orange);
                color: #fff;
            }
        }
        .info {
            width: 100%;
            display: flex;
            gap: 8px;
            flex-direction: column;
            color: var(--gray);
            .title {
                color: #fff;    
                font-family: $font-main;
                font-size: 40px;
                padding-top: 16px;
            }
            .desc {
                font-family: $font-ko;
                font-size: 16px;
                width: 100%;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            @include tablet {
                .title {
                    font-size: 32px;
                }
                
            }
            @include mobile {
                .title {
                    font-size: 24px;
                }
                .desc {
                    font-size: 12px;
                }
            }
        }
        .btn-shortcut {
            display: block;
            margin-top: 16px;
            text-wrap: nowrap;
            color: var(--orange);
            font-weight: 400;
            font-size: 14px;
            @include mobile {
                margin-top: 12px;
            }
        }
    }
 }

 .sc-contact {
    background: #000;
    .scroll-board {
        position: relative;
        height: 300vh;
        @include tablet {
            height: 100vh;
        }
    }
    .board-wrapper {
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        @include tablet {
            position: static;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .contents {
            position: relative;
            width: 100%;
            min-height: 100vh;
            clip-path: circle(0%);
            z-index: 101;
            @include tablet {
                clip-path: none;
                position: static;
                flex: 1;
                min-height: 0;
            }
        }
        .board-text {
            position: absolute;
            left: 50%;
            top: 50px;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-left: 32px;
            padding-right: 32px;
            .title {
                font-size: 80px;
                line-height: 83px;
            }
            .desc {
                margin-top: 16px;
            }
            @include tablet {
                position: static;
                transform: translateX(0);
                padding-left: 16px;
                padding-right: 16px;
                margin-bottom: 32px;
                .title {
                    font-size: 48px;
                    line-height: 51px;
                }
                .desc {display: none;}
            }
            @include mobile {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }

        .circles-list {
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;
            .circles-item {
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                clip-path: circle(0%);
                z-index: 101;
                &:nth-child(1) {
                    background: var(--gray);
                }
                &:nth-child(2) {
                    background: #686D76;
                }
                &:nth-child(3) {
                    background: #373A40;
                }
                &:nth-child(4) {
                    background: #000;
                }
            }
            @include tablet {
                display: none;
            }
        }
    }
    
    .board-content {
        display: flex;
        justify-content: center;
        padding-left: 32px;
        padding-right: 32px;
        background-color: var(--orange);
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include tablet {
            position: static;
        }
        .content-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 48px;
            //text-align: center;
            width: 100%;
            color: #000;
            padding: 32px 0;
            @include tablet {
                margin: 32px 0;
            }
        }
        .star{
            display: block;
            width: 100%;
            max-height: 400px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @include tablet {
                max-height: 200px;
            }
        }
        p {
            font-size: 32px;
            font-family: $font-ko;
            font-weight: 900;
            //padding-bottom: 50px;
            .deco {
                display: block;
                font-size: 16px;
                margin-bottom: 6px;
                font-family: $font-sub;
            }
            @include tablet {
                font-size: 22px;
            }
        }
        .contact-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 13px;
            text-align: right;
            svg {
                width: 50px;
                height: 50px;
                fill: currentColor;
                @include mobile {
                    width: 30px;
                    height: 30px;
                }
            }
            ul {
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                width: 100%;
                font-weight: 500;
            }
            @include tablet {
                .title {
                    font-size: 32px;
                }
            }
        }
    }
 }