.loading {
    cursor: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;

    .loading-cursor {
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;
        width: 120px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid var(--orange);
        display: flex;
        align-items: center;
        justify-content: center;
        .cursor-text {
            font-family: $font-main;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
        @include tablet {
            display: none;
        }
    }
    .loading-wrap {
        position: relative;
        overflow: hidden;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include mobile {
            align-items: center;
        }
    }
    .loading-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .loading-title {
        color: var(--orange);
        mix-blend-mode: difference;
        text-align: center;
        width: 100%;
        font-family: $font-intro;
        font-size: 5rem;
        line-height: 5.5rem;
        padding-bottom: 3rem;
        z-index: 102;
        .space {
            display: none;
            @include mini {
                display: block;
            }
        }
        @include tablet {
            font-size: 4rem;
            line-height: 4.2rem;
            padding: 0 2rem 5rem 2rem;
        }
        @include mobile {
            font-size: 2rem;
            line-height: 2.2rem;
            mix-blend-mode: unset;
            .line-02 {
                margin-top: .2rem;
            }
        }
        @include mini {
            font-size: 1.6rem;
            line-height: 1.8rem;
            .line-02 {
                margin-top: .5rem;
            }
        }
    }
    


}
.wrap-area {
    cursor: none;
    a {
        cursor: none;
    }

    .main-cursor {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 199;
        width: 10px;
        height: 10px;
        background: var(--orange);
        border-radius: 50%;
        mix-blend-mode: difference;
        transition: 0.2s;
        transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, .2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
        user-select: none; 
        pointer-events: none;
        transform: scale(1);
        cursor: none;
        &.active {
            opacity: 1; transform: scale(0);
        }
    }
    .cursor-follower {
        user-select: none; 
        pointer-events: none;
        position: fixed; 
        border:1px solid var(--gray);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 199;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
        transform: translate(2px, 2px);
        mix-blend-mode: difference;
        &.active {
            opacity: 1; 
            transform: scale(2); 
            border:1px solid var(--orange);
        }
    }
}
.container {
    margin-top: var(--header-pc);
    @include mobile {
        margin-top: var(--header-mobile);
    }
 }
 .sc-hero {
    display: flex;
    min-height: calc(100vh - var(--header-pc));
    overflow: hidden;
    @include mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - var(--header-mobile));

    }
    .hero-content {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 3.2rem 3.4rem;
        
        @include mobile {
            max-height: 60vh;
            max-width: 100%;
            padding: 2rem 2rem 3.2rem;
            height: 100%;
            justify-content: space-between;
        }
    }
    .hero-ticker {
        display: flex;
        align-items: center;
        position: relative;
        margin: auto 0;
        left: -60px;
        font-size: 20.5rem;
        line-height: 21.5rem;
        color: var(--orange);
        mix-blend-mode: difference;
        z-index: 30;
         ul {
            display: flex;
            li {
                white-space: nowrap;
                margin-right: 64px;
         }
        }
        @include mobile {
            font-size: 4rem;
            line-height: 4.3rem;
            margin: 0 0;
            ul {
                li {
                    margin-right: 20px;
                }
            }
        }
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: $font-sub;
        font-weight: 500;
        font-size: 1.8rem;
        max-width: 100%;
        line-height: 2.6rem;
        letter-spacing: -.02em;
        @include tablet {
            font-size: 1.6rem;
            line-height: 2.34rem;
        }
        @include mobile {
            margin-top: 3rem;
            font-size: 1.3rem;
            line-height: 2.15rem;
        }
        .name {
            display: flex;
            align-items: center;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1.2px;
                background: var(--orange);
                flex: 1;
                margin-left: 1rem;
            }
        }
        .desc {
            text-align: justify;
            line-height: 5rem;
            font-weight: 400;
            color: var(--gray);
            .deco {
                display: inline-flex;
                align-items: center;
                line-height: 3rem;
                padding: 5px 12px;
                border: 1px solid var(--orange);
                color: var(--orange);
                border-radius: 36px;
            }
            @include tablet {
                line-height: 4.3rem;
                .deco {
                    line-height: 2.6rem;
                }
            }
            @include mobile {
                line-height: 3rem;
                font-size: 1.4rem;
                .deco {
                    padding: 0 8px;
                    line-height: 2.4rem;
                }
            }
        }
    }
    .hero-media {
        position: relative;
        overflow: hidden;
        flex: 0 0 50%;
        max-width: 50%;
        height: calc(100vh - var(--header-pc));
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #151515;
            opacity: .8;
            z-index: 2;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.3);
        }
        @include mobile {
            height: calc(100vh - var(--header-mobile));
            position: relative;
            flex: 1;
            max-width: 100%;
            width: 100%;
            &::before {
                opacity: 0;
            }
            video {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

 }

 
 //work
 .sc-work {
    margin-top: 16rem;
    margin-bottom: 16rem;
    @include mobile {
        margin-top: 3.2rem;
        margin-bottom: 3.2rem;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        min-height: 70vh;
        color: var(--gray);
        padding-top: var(--header-pc);
        @include tablet {
            min-height: 50vh;
        }
        @include mobile {
            min-height: 0;
            margin-bottom: 10vh;
        }
        .title-wrap {
            overflow: hidden;
            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-family: $font-basic;
                font-size: 5rem;
                line-height: 5.6rem;
                letter-spacing: -.02em;
                @include tablet {
                    font-size: 3rem;
                    line-height: 3.4rem;
                }
                @include mobile {
                    flex-direction: column;
                }
            }
            
            .title {
                text-transform: uppercase;
                color: var(--orange);
                @include mobile {
                    width: 100%;
                    text-align: center;
                }
            }
            .deco {
                flex: 1;
                display: flex;
                align-items: center;
                margin: 0 20px;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 1px;
                    background: var(--gray);
                }
                @include mobile {
                    display: none;
                }
            }
            .state {
                color: var(--orange);
                @include mobile {
                    color: var(--gray);
                    margin-bottom: .5rem;
                    width: 100%;
                    text-align: center;
                }
            }
            .num {
                margin-right: 8px;
            }
        }
        .desc {
            font-family: $font-ko;
            font-weight: 100;
            margin-top: 3rem;
            font-size: 1.6rem;
            line-height: 1.7rem;
            width: 100%;
            text-align: right;
            letter-spacing: -.05em;
            .word {
                overflow: hidden;
            }
            .char {
                overflow: hidden;
            }
            @include tablet {
                text-align: center;
            }
            @include mobile {
                margin-top: 1.5rem;
                font-size: 1.2rem;
                line-height: 1.4rem;
                text-align: center;
            }
        }

    }
    
    .project-container {
        @include tablet {
            height: 100%;
            //margin-top: 80px;
        }
        @include mobile {
            //margin-top: 16px;
        }
    }
    .inner {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 100vh;
        @include mobile {
            display: block;
        }
        .col-left {
            width: 55%;
            @include mobile {
                display: none;
            }
            .thumb-wrap {
                position: sticky;
                top: 0;
            }
            .thumb-box {
                transition: .5s;
                display: block;
                height: 100vh;
                opacity: 0;
                visibility: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:not(:first-child){
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: auto;
                    right: auto;
                }
                &.on {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .col-right {
            width: 45%;
            @include mobile {
                width: 100%;
            }
            .text-wrap {
                padding: 0 6.875rem;
                display: flex;
                flex-direction: column;
                @include tablet {
                    padding: 0 3rem;
                }
                @include mobile {
                    &>*+* {
                        margin-top: 2.6rem;
                    }
                }
            }

            .text-box {
                padding-top: 20vh;
                height: 100vh;
                @include mobile {
                    padding-top: 0;
                    height: auto;
                }
            }
            .wrapper {
                margin: auto 0;
            }
            .thumb-m {
                display: none;
                @include mobile {
                    display: block;
                    width: 100%;
                    height: 40vh;
                    object-fit: cover;
                    margin-bottom: 1.6rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .title-area {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                @include tablet {
                    gap: 0.6rem;
                }
                @include mobile {
                    gap: 1rem;
                }
                .word {overflow: hidden;}
                .char {overflow: hidden;}
                .link-site {
                    display: flex;
                    flex-wrap: wrap;
                    .title {
                        overflow: hidden;
                        white-space: nowrap;
                        font-family: $font-main;
                        font-size: 3.2rem;
                        line-height: 3.3rem;
                        letter-spacing: -.01em;
                        text-transform: uppercase;
                    }
                    .deco {
                        overflow: hidden;
                        margin-left: 5px;
                        margin-top: 2px;
                        svg {
                            fill: var(--orange);
                        }
                    }
                    @include tablet {
                        .title {
                            font-size: 2.5rem;
                            line-height: 2.6rem;
                            white-space: nowrap;
                        }
                    }
                    @include mobile {
                        .title {
                            font-size: 2.3rem;
                            line-height: 2.4rem;
                            white-space: wrap;
                        }
                    }
                }
                .category {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 1.2rem;
                    flex-wrap: wrap;
                    font-family: $font-ko;      
                    font-size: 1.2rem;
                    letter-spacing: -.06em;
                    li {
                        padding: 3px 20px;
                        border-radius: 30px;
                        background: var(--gray);
                        color: #000;
                    }
                    .highlighted {
                        background: var(--orange);
    
                    }
                    @include tablet {
                        li {
                            padding: 2px 15px;
                        }
                    }
                    @include mobile {
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                        li {
                            padding: 1px 10px;
                        }
                    }
                }
            }
            .info-area {
                margin-top: 4rem;
                font-size: 1.4rem;
                line-height: 2rem;
                display: flex;
                flex-direction: column;
                li {
                    opacity: 1;
                    padding: 1.5rem 0;
                    &:not(:last-child) {
                        border-bottom: .0625rem solid hsla(0,22%,75%,.4);
                    }
                }
                em {
                    color: hsla(0,22%,75%,.4);
                    margin-right: 8px;
                }
                .btn-link {
                    color: hsla(0,22%,75%,.4);
                }
                @include tablet {
                    margin-top: 2rem;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
                @include mobile {
                    margin-top: 1rem;
                    font-size: 1rem;
                    line-height: 1.3rem;
                }
            }
        }
        
    }
 }


 //contact
 .sc-contact {
    background: #000;
    .scroll-board {
        position: relative;
        height: 300vh;
        @include tablet {
            height: auto;
        }
    }
    .board-wrapper {
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        @include tablet {
            position: static;
            display: flex;
            flex-direction: column;
            min-height: 0;
        }
        .contents {
            position: relative;
            width: 100%;
            min-height: 100vh;
            clip-path: circle(0%);
            z-index: 105;
            @include tablet {
                clip-path: none;
                position: static;
                //flex: 1;
                min-height: 0;
                min-height: 0;
            }
        }
        .board-text {
            position: absolute;
            left: 50%;
            top: 50px;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-left: 3.2rem;
            padding-right: 3.2rem;
            .title {
                font-size: 8rem;
                line-height: 8.3rem;
            }
            .desc {
                margin-top: 1.6rem;
            }
            @include tablet {
                position: static;
                transform: translateX(0);
                padding-left: 1.6rem;
                padding-right: 1.6rem;
                margin-bottom: 3.2rem;
                .title {
                    font-size: 4.8rem;
                    line-height: 5.1rem;
                }
                .desc {display: none;}
            }
            @include mobile {
                margin-top: 1.6rem;
                margin-bottom: 1.6rem;
                .title{
                    font-size: 3rem;
                    line-height: 3.4rem;
                }
            }
        }

        .circles-list {
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;
            .circles-item {
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                clip-path: circle(0%);
                z-index: 101;
                &:nth-child(1) {
                    background: var(--orange);
                }
                &:nth-child(2) {
                    background: #686D76;
                }
                &:nth-child(3) {
                    background: #373A40;
                }
                &:nth-child(4) {
                    background: var(--gray);
                }
                &:nth-child(5) {
                    background: #686D76;
                }
                &:nth-child(6) {
                    background: #373A40;
                }
                &:nth-child(7) {
                    background: #000;
                }
            }
            @include tablet {
                display: none;
            }
        }
    }
    
    .board-content {
        display: flex;
        justify-content: center;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        background-color: var(--orange);
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include tablet {
            position: static;
            min-height: 40vh;
        }
        @include mobile {
            min-height: 50vh;

        }
        .content-wrap {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            //text-align: center;
            width: 100%;
            color: #fff;
            padding: 3.2rem 0;
            @include tablet {
                padding: 6rem 0;
            }
            @include mobile {
                padding: 3rem 0;
            }
        }
        strong {
            margin-top: 5rem;
            text-align: center;
            display: block;
            font-size: 7rem;
            line-height: 6.5rem;
            letter-spacing: -.03em;
            margin-bottom: 6px;
            font-family: $font-basic;
            font-weight: 500;
            @include tablet {
                font-size: 2.2rem;
                line-height: 2rem;
                margin-top: 0;
            }
            @include mobile {
                margin-bottom: 3px;
                font-size: 1.8rem;
                line-height: 1.5rem;
            }
            .word {overflow: hidden;}
            .char {overflow: hidden;}
        }
        .icon-star {
            overflow: hidden;
            width: 100px;
            height: 100px;

            svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                fill: #fff;
            }
            @include tablet {
                margin-top: 2rem;
                width: 50px;
                height: 50px;
            }
            @include mini {
                display: none;
            }

        }
        .contact-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .6rem;
            text-align: center;
            .line {
                overflow: hidden;
            }
            .profile {overflow: hidden;
                .mimoticon {
                    border-radius: 50%;
                    border-bottom-left-radius: 0;
                    margin-left: 5px;
                    background: var(--gray);
                    position: relative;
                    width: 70px;
                    height: 70px;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        width: 90%;
                        height: 90%;
                    }
                }
            }
            em {
                overflow: hidden;
                font-size: 1.4rem;
                font-weight: 600;
            }
            p {
                overflow: hidden;
                text-align: center;
                font-family: $font-ko;
                font-weight: 300;
                font-size: 1.2rem;
                letter-spacing: -.03em;
            }
            ul {
                overflow: hidden;
                display: flex;
                justify-content: center;
                gap: 20px;
                width: 100%;
                font-family: $font-main;
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
            @include tablet {
                .title {
                    font-size: 3.2rem;
                }
            }
        }
    }
 }