#footer {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    @include mobile {
        padding: 16px 16px;
    }
}
.f-logo {
    font-size: 24px;
}
.logo {}