#footer {
    padding: 1.6rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    @include mobile {
        padding: 1.6rem 1.6rem;
    }
}
.f-logo {
    font-size: 1.8rem;
    font-weight: 500;
    .deco{
        color: var(--orange);
    }
}
.copy {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -.03em;
    text-align: right;
}