#header {
    color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    transition: .5s;
    &.hide {
    transform: translateY(-100%);
    }
}
.header-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    @include mobile {
        padding: 1.6rem;
    }
    
}
.h-logo {
    font-size: 1.8rem;
    font-weight: 500;
    .deco{
        color: var(--orange);
    }
}
.h-time {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    em {
        display: flex;
        align-items: center;
        &::before {
            content:"";
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var(--orange);
            margin-right: 5px;
        }
    }
    @include mobile {
        display: none;   
    }
}
.gnb {
    ul {
        display: flex;
        gap: 1.2rem;
        background: rgba(255, 255, 255, .2);
        border-radius: 36px;
        padding: 6px 10px;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        &.active a {
            color: var(--orange);
        }
    
    }

}